.name{
    font-weight: 900;
    font: 300;
    font-family: Poppins Black;
    transform: scaleY(1.3);
    line-height: 1;
}

@keyframes slideUp {
  from {
    transform: translateY(100px); /* Start slightly below */
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start invisible */
  }
  to {
    opacity: 1; /* Fully visible */
  }
}

.image {
  animation: fadeIn 1.5s ease-in forwards;
}

.item {
  animation: slideUp 1.5s ease-out forwards;
}