@import "tailwindcss";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* set default theme as light*/
@theme.light {
  --background: #ffffff;
  --foreground: #171717;
  --navactive: #ab0a3c;
  --navbg: #ffffff;
}


/* Default (Light Mode) */
@theme {
  --background: #ffffff;
  --foreground: #171717;
  --navactive: #fbbf24;
  --navbg: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



/* Ensure dark mode works */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --navactive: #fbbf24;
  --navbg: #0a0a0a;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --navbg: #ffffff;
  --navactive: #ab0a3c;
}
